@font-face {
    font-family: 'Consolas';
    src: url('consolas.ttf') format('truetype');
  }

/*propriedades novas utilizadas:

  *{

  }
  transition: all linear 0.5s | permite que propriedades sejam mudadas em um mesmo elemento de forma suave
  display: flex | permite que outros elementos se acomodem dentro de um elemento de acordo com o espaço disponivel
  flex-direction: column | diz para o elemento que todos os items dentro dele devem estar em alinhados em "column" (coluna)
  transform: rotate() | diz para um elemento passar pela função de rotação quando uma ação ocorrer (como um hover), os parentes determinam os graus da rotação
  cursor: pointer | diz pro seu mouse o tipo de cursor que ira aparecer quando você passar por cima (der hover) em um elemento
  box shadow: adciona sombras aos elementos

*/
*{
    text-align: center;
}
body{
    transition: all linear 0.5s;
    background-color: #fffbfb;
    font-family: 'Consolas',monospace;
    font-size: 30px;
    margin: 0;
    color: #000000;
}

header{
    background: #6115a8;
    width: 100%;
    padding: 5px;
}
.item-cab{
    margin: 10px;
}
img{

    border-radius: 50px;
    width: 300px;
    height: 300px;
}

p{
    color: black;
}

a{
    text-decoration: none;
    color: #c7962d;

    
}
a:hover{
    text-decoration: underline;

    
}

table{
    color: black;
}

h1{
    margin: 20px;
}
h2{

    color: black;

}

p{
    margin-left: 50px;
    width: 50%;
}

table{
    border-collapse: collapse;
    width: 100%;
}
th{
    background-color:  #0b005c;
    color: rgb(255, 254, 254);
}
td{
    border:solid  #0b005c;
}
td:hover{
    cursor:pointer;
    background-color:  #0b005c;
    color: rgb(243, 238, 238);
}
form{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
input,label,textarea,button{
    margin-top: 20px;
    font-size: 20px;
}
.painel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painel-fotos,.painel-info,.div-form{
    display: flex;

}

.painel-info,.div-form{
    align-items: center;
    flex-direction: column;
}

input,textarea,button{
    border-radius: 20px;
}
button:hover{
    cursor:pointer;
    background-color: #6115a8;
    color: #c7962d;
}
.retratos{
    box-shadow: 5px 5px 10px black;
    
    margin: 20px;
    transition: all linear 0.2s;

}

.retratos:hover{
    transition: all linear 0.2s;
    width: 350px;
    height: 350px;

}

li{
    list-style-type: none;   
}
.link-icon{

    height: 50px;
    width: 50px;
    margin-left: 20px;

}
  .leaf-icon {
  
    margin-right: 8px; 
    transition: transform 0.3s ease-in-out;
  }
  
  .leaf-icon:hover  {
    animation: dance 0.5s infinite alternate;
  }
  
  @keyframes dance {
    0% {
      transform: rotate(0deg) translateX(0);
    }
    25% {
      transform: rotate(10deg) translateX(5px);
    }
    50% {
      transform: rotate(0deg) translateX(0);
    }
    75% {
      transform: rotate(-10deg) translateX(-5px);
    }
    100% {
      transform: rotate(0deg) translateX(0);
    }
  }
